!**/*
!**/.*
!*.svg
*.un~
*~
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.config/.tmux/plugins/**/*
.directory
.fseventsd
.fuse_hidden*
.netrwhist
.nfs*
Icon
Network Trash Folder
Session.vim
Sessionx.vim
Temporary Items
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
nohup.out
tags
vscode
others
